.App {

  max-width: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

#cartita {
    margin:6rem;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
        padding-right: 15px;
    padding-left: 15px;
}
.jumbotron {
    margin: 8rem;

}

.navbar {
    position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
